.header-nav{
  font-weight: 700;
}

.ri-flight-takeoff-line{
  color: orangered;
}

/* BUTTONS */

.btn{
  background-color: orangered;
  border-color: orangered;
  color: white;
  border-radius: 25px;
}

.btn:hover{
  background-color: orange;
  border-color: orange;
}

.btn:active{
  background-color: orange !important;
  border-color: orange !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important;
}

.btn::after{
  background-color: orange;
  border-color: orange;
}

/* FORMS */
